.pretty th .current {
 padding-right: 15px;
 background-repeat: no-repeat;
 background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
 }

#linki {

	color:#16829E;
	background-color:#E0F3FF;
	width:500px;
	height:50px;
	
	
}






#tytul {
	color:#381073;
	font-size:25px;
	font-weight:600;
	text-align:center;
	font-family: comic;
}

@font-face {
	font-family: comic;
	src: url(HOMEWRDN.TTF) format("truetype");
	}
	
@font-face {
	font-family: comic2;
	src: url(oknofont.ttf) format("truetype");
	}

@font-face {
	font-family: comic3;
	src: url(zefir1.ttf) format("truetype");
	}

#user_name {
	font-style:italic;
	text-align:right;
	font-size:14px
}


#glosuj_data {
	height:30px;
	vertical-align: top;
}

#ocena_komentarz {
	vertical-align: bottom;
	height:30px
}

#ocena {
	text-align:left;
	font-size:16px;
	font-family: comic2;
}

#oc{
	font-family:comic;
	}

#data {
	text-align:right;
	font-size:14px;
	font-family: comic;
}

#url {
	font-size:20px;
	text-align:center;
	font-family: comic2;
	letter-spacing: 4px;
}

#opis {
	font-family: comic;
	font-size:20px;
	color:#11677D;
}
	

#kom {
	text-align: right;
	font-family: comic;
}

#dodaj_moje_linki {
	text-decoration: underline;
	font-size:14px;
	font-family:comic;
	letter-spacing: 3px;
}

#komentarze {
	background-color:#E0F3FF;
	}
	
#new {
	font-family:comic;
	}
	
#napis_new {
	font-family:comic2;
	font-size: 30px;
	}
