<div id="links"><%= render 'index' %></div>

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
<%= link_to tag.name, tags_links_path(:name=>tag.name), :class => css_class %>
<% end %>
