<h1>Kategorie</h1>

<br></br>
<br></br>
<% tag_cloud(@categories, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, tags_links_path(:name=>tag.name), :class => css_class %>
<% end %>
